footer {
	bottom: 0;
	width: 100%;
}

.gray-text{
	color: #808080;
}

.judul-dokumen{
    font-size: 20px;
}


.page-link-custom {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #029200;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-item-custom.active .page-link-custom {
    z-index: 1;
    color: #fff;
    background-color: #029200;
    border-color: #029200;
}

.icon-center{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}